.login-container {
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    border-color: #ccd0d5;
}

input::placeholder {
    color: darkgrey;
    font-size: 17px;
}

.text-input {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 16px;
    outline: none;
    margin-bottom: 2vh;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    color: #1d2129;
}

.login-header {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4vh;
}

.login-container .primary-btn {
    margin-bottom: 4vh;
    width: 100%;
}

.post-btn {
    padding: 3px;
    width: none;
}