.login-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: baseline;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    border-color: #ccd0d5;
}

input::placeholder {
    color: darkgrey;
    font-size: 17px;
}

input {
    width: 330px;
    padding: 14px 16px;
    outline: none;
    margin-bottom: 2vh;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    color: #1d2129;
}

.login-container .header {
    font-size: 25px;
    margin-bottom: 4vh;
}

.login-container .primary-btn {
    margin-bottom: 4vh;
}